development:
  adapter: postgresql
  encoding: unicode
  pool: 5
  database: app_{{app_name}}
  username: deploy
  password:

staging:
  adapter: postgresql
  encoding: unicode
  pool: 5
  database: app_{{app_name}}
  username: deploy
  password:

production:
  adapter: postgresql
  encoding: unicode
  pool: 5
  database: app_{{app_name}}
  username: deploy
  password: